<h2><%= owner %> / <%= repo %></h2>
<p>
    github: <a href="https://github.com/<%= owner %>/ <%= repo %>">https://github.com/<%= owner %>/ <%= repo %></a>
</p>
<p>
    content: <a href="<%= info.mp.url %>"><%= info.mp.url %></a>
</p>
