<%- include('/header'); -%>
<%- include('/info'); -%>
<p>
    Connected user <strong><%= me.displayName %> &lt;<a href="mailto:<%= me.mail ;%>"><%= me.mail ;%></a>&gt;</strong>
</p>
<p>
    <a href="<%= links.disconnect %>">disconnect</a>
</p>
<p>
    <a href="<%= links.root %>">start over</a>
</p>
<%- include('/footer'); -%>
